:root {
   --Background: whitesmoke;
   --BackgroundHover: rgb(187, 187, 187);
   --BackgroundDisabled: rgb(80, 80, 80);
   --TextDisabled: white;
   --TransparantBackground: rgba(245, 245, 245, 0.5);
   --TextSecondary: black;
   --TextPrimary: rgb(255, 255, 255);
   --Color1: rgb(0, 0, 119);
   --Color1Disabled: rgb(0, 0, 48);
   --Green: rgb(0, 218, 0);
}

[data-theme="defould"] {
	--Background: var(--Background);
	--BackgroundHover: var(--BackgroundHover);
	--BackgroundDisabled: var(--BackgroundDisabled);
	--TextDisabled: var(--TextDisabled);
	--TransparantBackground: var(--TransparantBackground);
	--TextSecondary: var(--TextSecondary);
	--TextPrimary: var(--TextPrimary);
	--Color1: var(--Color1);
	--Color1Disabled: var(--Color1Disabled);
	--Green: var(--Green);
}

[data-theme="fire"] {
	--Background: rgb(255, 165, 0);
	--BackgroundHover: rgb(255, 38, 0);
	--BackgroundDisabled: rgb(117, 86, 0);
	--TextDisabled: white;
	--TransparantBackground: rgba(255, 165, 0, 0.5);
	--TextSecondary: black;
	--TextPrimary: rgb(255, 255, 255);
	--Color1: rgb(5, 158, 0);
	--Color1Disabled: rgb(2, 53, 0);
	--Green: rgb(0, 70, 0);
}


html, body {
	background-color: black;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	overflow: hidden;
	/* scrollbar-width: 0px; */
	/*scroll-snap-type: both mandatory;
    scroll-snap-stop: always;
	touch-action: pan-x pan-y; */
}

main {
	width: 100svw;
	height: 100vmin;
	display: grid;
	grid-template-areas:
		'level-1-1 level-2-1 level-3-1 level-4-1'
		'level-1-2 level-2-2 level-3-2 level-4-2'
		'level-1-3 level-2-3 level-3-3 level-4-3'
		'level-1-4 level-2-4 level-3-4 level-4-4'
	;

	overflow: auto;
	scrollbar-width: none!important;
	scroll-snap-type: both mandatory;
    scroll-snap-stop: always;
	touch-action: pan-x pan-y;
}

.p-sec {
	color: var(--TextSecondary);
}

section {
	width: 100vw;
	height: 100vh;
	position: relative;
	scroll-snap-align: center;
}

section img {
	width: 100%;
	height: 100%;
}

.level-1-1 {
	grid-area: level-1-1;
}
.level-2-1 {
	grid-area: level-2-1;
	anchor-name: --library-WeaponEquip-Anchor;
}
.level-3-1 {
	grid-area: level-3-1;
}
.level-4-1 {
	grid-area: level-4-1;
}
.level-1-2 {
	grid-area: level-1-2;
}
.level-2-2 {
	grid-area: level-2-2;
}
.level-3-2 {
	grid-area: level-3-2;
}
.level-4-2 {
	grid-area: level-4-2;
}
.level-1-3 {
	grid-area: level-1-3;
}
.level-2-3 {
	grid-area: level-2-3;
}
.level-3-3 {
	grid-area: level-3-3;
}
.level-4-3 {
	grid-area: level-4-3;
}
.level-1-4 {
	grid-area: level-1-4;
}
.level-2-4 {
	grid-area: level-2-4;
}
.level-3-4 {
	grid-area: level-3-4;
}
.level-4-4 {
	grid-area: level-4-4;
}

/*ambient*/
.ambient {
    width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.ambient2 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgb(0 0 0 / 50%), rgb(85 65 65 / 50%));
}

.ambient3 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 10px, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.ambient4 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(0, 183, 255, 0.5), rgba(89, 0, 255, 0.5));
}

.ambient1-2 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(255, 187, 0, 0.5), rgba(255, 0, 0, 0.5));
}

.ambient2-2 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(48, 48, 48, 0.5), rgba(19, 19, 19, 0.5));
}

.ambient3-2 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(0, 0, 0, 0.5), rgba(36, 0, 0, 0.5));
}

.ambient4-2 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(0, 0, 0, 0.8), rgba(36, 0, 0, 0.9));
}

.ambient1-3 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(0, 0, 0, 0.6), rgba(36, 0, 0, 0.7));
}

.ambient2-3 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(23, 28, 77, 0.7), rgba(90, 73, 73, 0.7));
}

.ambient3-3 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(138, 0, 0, 0.7), rgba(90, 0, 0, 0.7));
}

.ambient4-3 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(49, 49, 49, 0.8), rgba(36, 0, 0, 0.9));
}

.ambient1-4 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(126, 102, 102, 0.5), rgba(80, 70, 70, 0.5));
}

.ambient2-4 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(126, 102, 102, 0.5), rgba(80, 70, 70, 0.5));
}

.ambient3-4 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(126, 102, 102, 0.5), rgba(80, 70, 70, 0.5));
}

.ambient4-4 {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 2px, rgba(126, 102, 102, 0.5), rgba(80, 70, 70, 0.5));
}
/*character*/

.character {
	width: 100px;
	height: 100px;
	position: fixed;
	left: calc(50vw - 50px);
	top: calc(50vh - 50px);
}

.character img {
	filter: drop-shadow(2px 7px 9px black)!important;
}

.character img:active {
	filter: drop-shadow(2px calc(7px + 3vh) 12px black)!important;
	transform: translateY(-3vh);
	animation: filter 0.5 ease, transform 0.5 ease;
}

/*Health*/

.Health {
	width: 100%;
	height: 20px;
	background-image: linear-gradient(to right, var(--Green), 50%, rgba(255, 255, 255, 0) 50%);
	border: 2px solid var(--Green);
	border-radius: 40px;
}

#Char-Health::after, #Enemy-Health::after {
	position: absolute;
	right: -50px;
	color: var(--TextPrimary);
	
}

#Char-Health::after {
	content: "100%";
}

#Enemy-Health::after {
	content: "1000%";
}

/*secret bookshelf*/

#bookShelf {
	width: 20vw;
	height: 15vh;
	position: absolute;
	left: 25vw;
	top: 5vh;
}

/*weapons*/

.weapon-hitbox {
	width: 8vw;
	height: 15vh;
	background-color: red;
	background: transparent;
}

#weapon1 {
	position: absolute;
	left: 35vw;
	top: 40vh;
}

#weapon2 {
	position: absolute;
	left: 59vw;
	top: 40vh;
}
/*equip*/
.EquipPopup {
	display: flex;
	visibility: hidden;
	flex-direction: column;
	position: absolute;
	background-color: var(--TransparantBackground);

	width: clamp(200px, 300px, 500px);
	height: clamp(200px, 300px, 500px);

	/* left: 50%;
	top: 50%; */

	position-anchor: --library-WeaponEquip-Anchor;
	position-area: center;

	z-index: 100;

	border-radius: 10px;


}

.weapon-Equip_title {
	font-size: clamp(16px, 20px, 25px);
	text-align: center;
}

.weapon-Equip_img {
	align-self: center;
	justify-self: center;
	width: 70px;
	height: auto;
}

.weapon-Equip_weaponName {
	color: var(--Color1);
	font-size: clamp(18px, 20px, 25px);
	text-align: center;
	margin: 2px;
}

.weapon-Equip_Stats p:first-child{
	background-image: linear-gradient(to right, var(--Green), 50%, rgba(255, 255, 255, 0) 50%);
	border: 2px solid var(--Green);
	margin: 2px 10px;
	padding: 10px;
	border-radius: 10px;
}

.weapon-Equip_Stats p:empty{
	display: none;
}

#weapon-Equip-Bomb > .weapon-Equip_img {
	align-self: center;
	justify-self: center;
	width: 120px;
	height: auto;
}

.weapon-Equip_Stats p:last-child{
	margin: 2px 10px;
	padding: 10px;
	border-radius: 10px;
}

.weapon-Equip_Stats p span {
	color: var(--Color1);
}


/* 
#bomb1 {
	position: absolute;
	left: 70vw;
	top: 75vh;
}

#bomb2 {
	position: absolute;
	left: 60vw;
	top: 75vh;
} */



/*bunny*/

@keyframes bunnyKeyFrames {
	0%, 100% {
		transform: translateX(0vw);
	}

	50% {
		transform: translateX(55vw);
	}
}



#bunny {
    width: 150px;
	height: 150px;
	position: absolute;
	left: 12vw;
	top: 10vh;
	animation: bunnyKeyFrames 4s ease-in-out 30ms infinite;
}

/*chest*/
#Treasure {
	width: 250px;
	height: 200px;
	position: absolute;
	left: 56vw;
	top: 40vh;
}

/*code*/

#code {
	position: absolute;
	left: 40vw;
	top: 40vh;	
}

.CodePopup_title {
	font-size: clamp(16px, 20px, 25px);
	text-align: center;
}

#CodePopup input {
	width: 90%;
	height: 50px;
	align-self: center;
	border-radius: 10px;
	background-color: var(--Background);
	border: 2px solid var(--Color1);
}

/* hud */

.HUD {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100svw;
	height: 100vmin;
	pointer-events: none;
	
	anchor-name: --Hud-Anchor;

}

.Hud_Button {
	border-radius: 50px;
	border: 5px solid var(--Color1);
	border-bottom-width: 7px;
	background-color: var(--Background);
	text-align: center;
	font-size: 20px;
	position: absolute;
	pointer-events: initial;
}

.Hud_Button:hover {
    margin-bottom: 5px;
	background-color: var(--BackgroundHover);
}

#Tutorial {
	width: 50px;
	height: 50px;
	left: 5px;
	bottom: 5px;
}

#Name {
	width: 200px;
	height: 50px;
	right: 5px;
	bottom: 5px;
}

#Weapon {
	width: 100px;
	height: 100px;
	border: 3px solid var(--Background);
	pointer-events: initial;
	background: transparent;
	border-radius: 10px;

	position: absolute;
	
	position-anchor: --Hud-Anchor;
	position-area: bottom center;
	top: calc(100vh - 105px);

	
}

#Weapon img{
	width: 100%;
	height: 100%;
}

#Weapon:hover {
    top: calc(100vh - 110px);
}

.WeaponEquiped {
	border-style: dashed!important;
}

/* tutorial */

.TutorialHud {
	visibility: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100svw;
	height: 100vmin;
	background-color: var(--Background);
	
	/* anchor-name: --Hud-Anchor; */

}

.TutorialHud h1 {
	text-align: center;
	color: var(--Color1);
}

#TutorialHud_Img {
	width: 50vw;
	height: 50vh;
	position: absolute;
	left: 10px;
	top: 60px;
}

#TutorialHud_Desc {
	width: 45vw;
	height: 50vh;
	position: absolute;
	right: 10px;
	top: 60px;
	color: var(--TextSecondary);
}

.Buttons {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100px;
	width: 100%;
}

#Tutorial_Back {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 200px;
	height: 50px;
	
}

#Tutorial_Next {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 200px;
	height: 50px;
}

.Tutorial_Disabled {
	background-color: var(--BackgroundDisabled);
	color: var(--TextDisabled);
	border-color: var(--Color1Disabled);
	pointer-events: none;
}

@media (max-width: 460px){
	#Tutorial_Back {
		left: 20px;
		bottom: 20px;
		width: 80px;
		height: 50px;
	}

	#Tutorial_Next {
		right: 20px;
		bottom: 20px;
		width: 80px;
		height: 50px;
	}
	#TutorialHud_Img {
		width: 100vw;
		height: 100vw;
	}

	#TutorialHud_Desc {
		width: 90vw;
		height: 50vh;
		right: 10px;
		top: calc(100vw + 100px);
	}

	#Weapon {
		width: 100px;
		height: 100px;
		top: calc(100vh - 165px);
		left: calc(100vw - 105px);
		position-area: bottom right;
	}

	#Weapon:hover {
    	top: calc(100vh - 170px);
	}	
}